doctype html
html(lang=en)
  head
    meta(charset='UTF-8')
    title Test

  body
    a-scene(stats)
      a-assets
        img#sky(src='img/sky1.jpg')

      a-entity(player)

      a-entity(world)

      a-entity(voxel-loader)

      a-sky(
        theta-length='100',
        material='src: #sky',
      )
